body{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
    overflow-x: hidden !important;
}
.navbarActive{
  color:  #007FFF !important;
  font-weight: 500;
}

.navbarText{
  color: #000000 !important;
  font-weight: 500;
}
.badgeLink:hover{
    color: white !important;
}
a:hover{
 text-decoration: underline !important;
}
.textPrimary{
  color:  #007FFF !important;
}
.textSecondary{
	color:#44A1FF !important;
}
.themeFontExtraLight{
  font-weight: 200;
}
.themeFontLight{
  font-weight: 300;
}

.themeFontRegular{
  font-weight: 400;
}

.themeFontMedium{
font-weight: 500;
}

.themeFontBold{
  font-weight: 600;
}
.themeFontExtraBold{
  font-weight: 700;
}
.hr{
  width: 50px;
  height: 5px;
  background-color: #007FFF !important;
  margin: 0;
}
.whoWeArebg{
  background-color: #f5f5f5;
}
.styleCarousel{
  background-color: #eff5fb;
}
.cardGrroming{
  border: 10px solid #007FFF ;
  border-radius: 10px;

}
@media screen and (min-width:770px) {
  .bookNowBtn1{
    position: absolute;
     z-index: +1;
     top:295px;
     left:100px;
     background-color: white;
  }
  .bookNowBtn2{
    position: absolute;
     z-index: +1;
     top:315px;
     left:100px;
     background-color: white;
  }
}
.emailLabel{
  display: block;
}
a{
  text-decoration: none;
}
.textSecondary{
  color: #007FFF;
}
.cardBodyColor{
  background-color: #CCE5FF;
}
.imgCard{
  height: 150px;
}
#logout:hover{
	text-decoration: underline;
}
.quantityCart{
	background-color: #CCE5FF;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 15px;
}
.textSmall{
	font-size: 15px;
}

.button:focus{
	outline: none !important;
	box-shadow: none !important;
}

